/3-o-periodo/E.D-Estrutura-de-Dados/Trabalho-Algoritmos-de-Ordenacao/ArquivoOrdena/nbproject/private/
/3-o-periodo/E.D-Estrutura-de-Dados/Trabalho-Algoritmos-de-Ordenacao/ArquivoOrdena/build/
/3-o-periodo/E.D-Estrutura-de-Dados/Trabalho-Algoritmos-de-Ordenacao/Telas/ProjetoBuscaOrdenacao/build/
/3-o-periodo/E.D-Estrutura-de-Dados/Trabalho-Algoritmos-de-Ordenacao/Telas/ProjetoBuscaOrdenacao/nbproject/private/
